{% extends 'jegkan/base/base_for_jegkan.html' %}

{% block content%}
<style>
    form .field ul {
        list-style: none;
        padding: 0 1rem;
    }

    form .field li {
        margin-bottom: 0.3rem;
    }
</style>
<div class="ui center aligned basic very padded segment">
    <h1 class="ui header dividing">Velkommen {{user.username|title}}</h1>
    
        <div class="ui basic padded segment left aligned">
            
                <h4 class="ui header">
                    Start eller rediger en evaluering
                </h4>
<form method="post">

    {% csrf_token %}
    <table>
    {{ formset }}
</table>
<input type="submit" value="Update/Create" class="button"/>

</form>
</div>
</div>
</div>
{% endblock %}